[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
pyzmq = "*"
"e1839a8" = {path = ".", editable = true}
weewx-orm = {git = "https://github.com/beasley-weather/weewx-orm.git"}


[dev-packages]
